@media screen and (min-width: 600px) {
  .col1 {
    width: 30%;
    float: left;
  }

  .col2 {
    width: 30%;
    float: center;
  }

  .col3 {
    width: 30%;
    float: right;
  }

  .col2:last-child {
    margin-bottom: -40px;
  }
}

img {
  width: 100%;
  margin-bottom: -50px;
}

.medio {
  margin-top: 80px;
}
