.images {
  display: grid; /* Uso de CSS Grid */
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 30px;
  margin: 3%;
}

.images img {
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  height: auto;
}

img:hover {
  opacity: 0.9;
}

#image-viewer {
  display: none;
  position: fixed;
  z-index: 2000;
  align-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  animation-name: zoom;
  animation-duration: 0.6s;
  border-radius: 5px;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#image-viewer .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#image-viewer .close:hover,
#image-viewer .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
