#Titulo1 {
  padding: 4%;
  padding-bottom: 2%;
  text-align: center;
}

#TituloResto {
  margin-top: 4%;
  margin-bottom: 2%;
  text-align: center;
}

.contenedor {
  /* Establece el número de columnas */
  column-count: 3;

  /* Establece el espacio entre las columnas */
  column-gap: 30px;

  /* Opcional: Añade un divisor entre columnas */
  margin-top: 1%;
  margin-bottom: 1%;
}

.contenedor-imagen {
  /* Establece el número de columnas */
  column-count: 3;

  /* Establece el espacio entre las columnas */
  column-gap: 30px;

  /* Opcional: Añade un divisor entre columnas */
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
}

img {
  width: 31.5%;
  height: auto;
}
