/* Anhadimos fuentes personalizada al css */
@font-face {
  font-family: "pobraFont";
  src: url("/fonts/Kensmark-03-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "appleFont";
  src: url("/fonts/SF-Pro.ttf") format("truetype");
}

/* Estilo general de la cabecera */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #24262b;
  color: #ffd437;
  /* Ajusta la altura de tu header según sea necesario */
  height: 11em;
  transition: height 0.5s ease;
}

/* Estilo general del cuerpo */
body {
  margin-top: 11em;
  padding: 0 auto;
  font-family: "appleFont", sans-serif;
  background-color: #ffd437;
  color: #24262b;
}

/* Estilo de las dos partes del titulo/logo */
.titulo-container {
  text-align: center;
  font-family: "pobraFont", sans-serif;
  margin: 1em;
}
.titulopeque {
  font-size: 2em;
  text-decoration: none;
  color: inherit;
  transition: font-size 0.5s ease;
}
.titulogrande {
  font-size: 4em;
  text-decoration: none;
  color: inherit;
  transition: font-size 0.5s ease;
}

/* Estilo del footer */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffd437;
  height: 2px;
  box-sizing: border-box;
  width: 100px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Estilo del menu de navegacion */

/* NAVIGATION */
nav {
  width: 100%;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 2em;
}

nav ul li a:hover {
  color: #ffd437;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #ffd437;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #ffd437;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 0.8s forwards;
  opacity: 1;
}

/* Keyframes */
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #3a3a3a;
  }
}
