/* Estilo del div de la pagina */
.construccion {
  font-family: "pobraFont", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63vh;
  font-size: 5em;
  text-align: center;
}
